<a href="#" class="action">
    <img class="action-image" src="https://picsum.photos/80" alt="Illustration" loading="lazy" /> <!--style="display: block;"-->
    <p class="action-name">
        <span>{{ random(["Secret santa", "État du serveur Minecraft"]) }}</span>
    </p> <!--style="display: block;"-->
</a>