<!-- Navbar -->
<div id="mobile-bottom">
    <nav class="navbar main-navbar fixed-bottom navbar-expand-lg bg-primary"> <!--navbar-light bg-light-->
        <!-- Container wrapper -->
        <div class="container-fluid">
            <div id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("shop_home") }}">
                            <img src="https://picsum.photos/30" alt="Illustration" loading="lazy" />
                            <p>Boutique</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="https://picsum.photos/30" alt="Illustration" loading="lazy" />
                            <p>Discord</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="https://picsum.photos/30" alt="Illustration" loading="lazy" />
                            <p>Minecraft</p>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbar-bottom-dropdown-events"
                            role="button"
                            data-mdb-toggle="dropdown"
                            data-mdb-display="static"
                            aria-expanded="false"
                        >
                            <img src="https://picsum.photos/30" alt="Illustration" loading="lazy" />
                            <p>Events</p>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-bottom-dropdown-events">
                            <li>
                                <a class="dropdown-item" href="#">Event 1</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Event 2</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Event 3</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Event 4</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbar-bottom-dropdown-autres"
                            role="button"
                            data-mdb-toggle="dropdown"
                            data-mdb-display="static"
                            aria-expanded="false"
                        >
                            <img src="https://picsum.photos/30" alt="Illustration" loading="lazy" />
                            <p>Autres</p>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-bottom-dropdown-autres">
                            <li>
                                <a class="dropdown-item" href="#">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
</div>

<!-- Navbar -->