@import "breakpoints";

/* --- Common CSS for the whole website --- */

body {
    --navbar-border-radius: 16px;
    --common-nav-size: 60px;
    --main-font: Raleway, sans-serif;
    --secondary-font: Alexandria, sans-serif;

    * {
        font-family: var(--main-font);
    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        font-family: var(--secondary-font);
        font-weight: 340;
    }

    main {
        padding: 20px;
        min-height: calc(100vh - 2 * var(--common-nav-size));

        /* TODO: déplacer dans un fichier dédié à la page produit et repenser à la manière de faire */
        h2#product-subtitle {
            font-size: 1.5rem;
        }
        #product-final-price {
            font-weight: bold;
        }
        .category-badges {
            height: 24px;
            overflow: hidden;
        }
        /* ------------- */

        .breadcrumb {
            .breadcrumb-item.active {
                --mdb-breadcrumb-item-active-color: white;
            }
        }
    }

    footer {
        font-weight: 340;
        min-height: var(--common-nav-size);
    }
}

@import "navbar";