@import "breakpoints";

/* --- Common CSS for the whole website --- */

body {
    --navbar-border-radius: 16px;
    --common-nav-size: 60px;
    --main-font: Raleway, sans-serif;
    --secondary-font: Alexandria, sans-serif;

    * {
        font-family: var(--main-font);
    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        font-family: var(--secondary-font);
        font-weight: 340;
    }

    main {
        padding: 20px;
    }

    footer {
        font-weight: 340;
    }
}

@import "navbar";