<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ category.name }}</h4>

    <a href="{{ path("shop_details", categoryService.routeSlugs(category)) }}" class="btn btn-primary btn-sm">Accéder</a>
  </div>
</div>