<!-- Navbar -->
<div id="mobile-bottom">
    <nav class="navbar main-navbar navbar-mobile fixed-bottom navbar-expand-lg bg-primary"> <!--navbar-light bg-light-->
        <!-- Container wrapper -->
        <div class="container-fluid">
            <div id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="https://picsum.photos/30" alt="Illustration" />
                            <p>Boutique</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="https://picsum.photos/30" alt="Illustration" />
                            <p>Discord</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="https://picsum.photos/30" alt="Illustration" />
                            <p>Minecraft</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="https://picsum.photos/30" alt="Illustration" />
                            <p>Events</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="https://picsum.photos/30" alt="Illustration" />
                            <p>Autres</p>
                        </a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <!--<div class="d-flex align-items-center">

            </div>-->
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
</div>

<!-- Navbar -->